@import url('https://fonts.googleapis.com/css2?family=Roboto');
 
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.cell {
    width: 149px;
    height: 149px;
    background-color: white; 
    font-family: roboto;
    font-size: 7rem;
    display: grid;
    justify-content: center;
    align-content: center;
}

.content {
    display: grid;
    justify-content: center;
}

#active {
    color: green;
    font-size: 2.5rem;
}

.info {
    width: 450px;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info > div {
    width: 200px;
    height: 35px;
}

datalist {
    overflow-y: auto;
}

.opponent {
    display: grid;
    justify-content: center;
    align-content: center;
}

button {
    width: 12rem;
    padding: 10px 0 10px 0;
}

.board {
    margin-top: 1rem;
    width: 450px;
    height: 450px;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
}

.board-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-lines {
    background-color: black;
}

.hidden {
    display: none;
}

.start {
    height: 3rem;
}